.items-container{
  margin: auto;
  width:60%;

}

.bookmard-card{
  width: 100%;
  height: 200px;
  padding: 20px;
  border: 1px solid black;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  margin-bottom: 20px;
}

.item-thumb{
  max-width: 90px;
  object-fit: scale-down;
}

.mid{
    margin-left: 50px;
    margin-right: auto;
}

.full-height{
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
}

.full-height > h3{
    margin:0;
}

.full-height>small{
    height: 3ch;
    width: 80%;
    flex-grow: 1;
}

.bookmark-description{
    margin:0;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}

.end{
    align-items: center;
}

.price-text{
    text-align: center;
}

.price-text > h3,
.price-text > small > p{
    margin:0;
}