
#header{
  height: var(--header-height);
  padding: 0 50px;
  border-bottom: 3px solid var(--black);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.15rem;
  position: sticky;
  background-color: var(--white);
  top:0;
  z-index: 2;
}

.logo-section{
  height: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--black);
  font-family: 'Fredoka One', sans-serif;
}

.logo-text{
  font-size: 1.5rem;
  text-align: left;
}

#logo{
  max-height: 100%;
}

#user-buttons{
  display: flex;
  width:200px;
}

#user-buttons > a:first-of-type{
    margin-right: auto;
}

#products{
  width: 500px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

#products{
  border-right: var(--border-mid);
  border-left: var(--border-mid);
  font-size: 1.5rem;
}

#products:hover{
  background-color: var(--black);
  border: none;
  color: var(--white);
  cursor: pointer;
}

.product-links{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  top: 100%;
  border: var(--border);
  visibility: hidden;
}

#products:hover .product-links{
  visibility: visible;
}

.product-links:first-child{
  background-color: white;
  border-top: 2px solid var(--white);
}

.dropdown-link{
  width: 100%;
  padding: 15px;
  background-color: var(--black);
  color: white;
  text-decoration: none;
  border-top: 2px solid var(--white);

}

.dropdown-link:hover{
  background-color: var(--white);
  color: var(--black);
}

.header-btn{
  width:60px;
  height:60px;
  position: relative;
}

.header-btn-counter {
  position: absolute;
  margin: -7px;
  width: 23px;
  height: auto;
  padding: 15px;
  right: 0;
  background-color: var(--accent-color);
  border-radius: 50%;
  font-size: 1rem;
}

.header-btn-counter>p{
  margin: -10px;
}

.header-btn:hover > .header-btn-counter{
  color: white;
}
