.products-layout{
    display: grid;
    grid-template-columns: 1fr 6fr;
}

.search-tab{
    border: 1px solid black;
}

.products-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    margin: 20px 0;
}

.search-tab{
    position: sticky;
    top: var(--header-height);
    height: 250px;
    border: none;
    border-right: var(--border-mid);
    border-bottom: var(--border-mid);
    border-radius: 0 0 25px 0;
}

.options-container{
    margin: auto;
    width: 100%;
    height: 100%;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin: 5px;
    font-weight: bold;
}

.options-container > label{
    margin-bottom: 10px;
}


.search-radio-item{
    font-family: 'Montserrat', sans-serif;
    padding: 0 5px;
}

.search-query-input{
    margin: 5px 0;
}

.product-card{
    height:500px;
    width:350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.product-thumb{
    object-fit: scale-down;
    height: 70%;
    width: 100%;
}

.product-text{
    height: 20%;
    max-height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-text > p{
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-text > h2{
    margin: 5px;
    margin-top: auto;
}

.add-cart-btn{
    align-self: center;
}

.bookmark-btn{
    position: absolute;
    right: 0;
    font-size: 2rem;
}

.star-container{
    align-self: center;
}

.star{
    font-size: 1.5rem;
    display: inline;
    color:rgb(158, 158, 158)
}

.star.fill{
    color: var(--black);
}