:root{
  --white: #fff;
  --black: #000;
  --disable-color: #999999;
  --disable-textcolor: #eeeeee;
  --border: 1px solid var(--black);
  --border-mid: 2px solid var(--black);
  --border-large: 5px solid var(--black);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App{
  width:100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 9fr;
  overflow-x: hidden;
}

.left-align{
  text-align: left;
}

.no-margin{
  margin: 0;
}

.auto-margin{
  margin: auto;
}

.inline{
  display: inline;
}

button{
  width:150px;
  height:50px;
  border: none;
  border-radius: 5px;
  color: var(--black);
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  transition: .1s;
}

.circle-btn{
  border-radius: 50%;
  width: 75px;
  height: 75px;
}

button.black{
  background-color: var(--black);
  color: var(--white);
}

button:hover{
  background-color: var(--black);
  border: 3px solid var(--white);
  color: var(--white);
}

button.black:hover{
  background-color: var(--white);
  border: 3px solid var(--black);
  color: var(--black);
}

button:active{
  transform: scale(.9);
}

button:disabled,
button:disabled:hover,
button:disabled:active{
  background-color: var(--disable-color);
  border: none;
  color: var(--disable-textcolor);
  transform: unset;
  cursor: unset;
}

button.small-btn{
  width: 100px;
  height: 50px;
}

input{
  padding: 7px;
  font-size: 1rem;
}

.bold{
  font-weight: bold;
}

.med-font{
  font-size: 1.25rem;
}

.big-font{
  font-size: 2rem;
}

.fixed-center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
}
